{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{% if is_update %}{% translate "Change Task" %}{% else %}{% translate "Create Task" %}{% endif %}</h1>
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                {% if field.name == 'labels' %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        <div class="border rounded p-2 overflow-auto" style="max-height: 150px;">
                            {{ field }}
                        </div>
                    </div>
                {% else %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}

            <input class="btn btn-primary" type="submit"
                value="{% if is_update %}{% translate 'Change' %}{% else %}{% translate 'Create' %}{% endif %}">
        </form>
    </div>
{% endblock %}