{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{% translate "Tasks" %}</h1>
        <form method="post" action="{% url 'task_create' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                {% translate "Create Task" %}
            </button>
        </form>
        <form method="get" class="p-4 bg-light rounded border shadow-sm mb-4">
            <div class="mb-3">
              <label for="id_status" class="form-label">{% translate "Status" %}</label>
              {{ filter.form.status }}
            </div>
            <div class="mb-3">
              <label for="id_executor" class="form-label">{% translate "Executor" %}</label>
              {{ filter.form.executor }}
            </div>
            <div class="mb-3">
              <label for="id_labels" class="form-label">{% translate "Label" %}</label>
              {{ filter.form.labels }}
            </div>
            <div class="form-check mb-3">
              {{ filter.form.user_tasks }}
              <label for="id_user_tasks" class="form-check-label">{% translate "Only your tasks" %}</label>
            </div>
            <button type="submit" class="btn btn-primary">{% translate "Show" %}</button>
          </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Status" %}</th>
                    <th>{% translate "Author" %}</th>
                    <th>{% translate "Executor" %}</th>
                    <th>{% translate "Creation date" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td><a href="{% url 'task_detail' pk=task.id %}">{{ task.name }}</a></td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.author.first_name }} {{ task.author.last_name }}</td>
                        <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
                        <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                        <td>
                            <a href="{% url 'task_update' pk=task.id %}">{% translate "Update" %}</a>
                            <br>
                            <a href="{% url 'task_delete' pk=task.id %}">{% translate "Delete" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}